<div class="contactDiv">
  <div class="swiper mySwiper" data-controller="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"> <%= image_tag "group.png" %></div>
      <div class="swiper-slide"> <%= image_tag "groupStage.png" %></div>
      <div class="swiper-slide"><%= image_tag 'groupView.png' %></div>
      <div class="swiper-slide"><%= image_tag 'sako&group.png' %></div>
      <div class="swiper-slide"><%= image_tag 'groupTower.png' %></div>
      <div class="swiper-slide"><%= image_tag 'groupArm.png' %></div>
      <div class="swiper-slide"><%= image_tag 'group2.png' %></div>
      <div class="swiper-slide"><%= image_tag 'group1.png' %></div>
      <div class="swiper-slide"><%= image_tag 'site1.JPG' %></div>
      <div class="swiper-slide"><%= image_tag 'site2.JPG' %></div>
      <div class="swiper-slide"><%= image_tag 'site3.JPG' %></div>
      <div class="swiper-slide"><%= image_tag 'site4.JPG' %></div>
      <div class="swiper-slide"><%= image_tag 'site5.JPG' %></div>
    </div>
  </div>
</div>
<div class="absoluteHome" id="logo">
  <div class="img-container">
  </div>
    <%= image_tag 'IDS1.png', class:"img-logo"%>
</div>

<div class="container card-box">
  <div class="d-flex align-items-center info-card ">
    <%= image_tag 'history-clock.png', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="nosfondateurs">
        <h3>LES FONDATEURS</h3>
      </a>
    </div>
  </div>
  <div class="d-flex align-items-center info-card ">
    <%= image_tag 'services.png', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="prestations">
        <h3>NOS PRESTATIONS</h3>
      </a>
    </div>
  </div>
  <div class="d-flex align-items-center info-card ">
    <%= image_tag 'notreequip.png', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="notreequipe">
        <h3>NOTRE EQUIPE</h3>
      </a>
    </div>
  </div>
</div>
<div class="container" style="text-align:center;">
  <h1>"VOTRE DANSE EN UN SEUL CLIC"</h1>
</div>

<div class="container card-box-2 ">
  <div class="d-flex align-items-center info-card">
    <%= image_tag 'media.png', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="gallerie">
        <h3>NOTRE GALERIE</h3>
      </a>
    </div>
  </div>
  <div class="d-flex align-items-center info-card">
    <%= image_tag 'tarifs.jpeg', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="tarif">
        <h3>NOS TARIFS</h3>
      </a>
    </div>
  </div>
  <div class="d-flex align-items-center info-card ">
    <%= image_tag 'cadeau.png', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="cadeau">
        <h3>IDÉE CADEAU</h3>
      </a>
    </div>
  </div>
  <div class="d-flex align-items-center info-card">
    <%= image_tag 'contact.png', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="/contact_us">
        <h3>CONTACT</h3>
      </a>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
