<div class="img-container">
  <div class="first-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
    <div class="div3 img"></div>
  </div>
  <div class="second-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
  </div>
  <div class="third-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
    <div class="div3 img"></div>
    <div class="div4 img"></div>
  </div>
</div>
<div class="container-image" id="container-image">
  <%= image_tag 'group.png' %>
  <%= image_tag 'group1.png' %>
  <%= image_tag 'group2.png' %>
  <%= image_tag 'groupArm.png' %>
  <%= image_tag 'groupStage.png' %>
  <%= image_tag 'groupTower.png' %>
  <%= image_tag 'groupView.png' %>
  <%= image_tag 'sako&group.png' %>
</div>
<iframe id="video-1" src="https://www.youtube.com/embed/UYQ5qnvnvnM?si=K6vL4NpXhHth7r22" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
