<div class="contactDiv">
</div>
<div class="absoluteHome" id="logo">
  <div class="img-container">
  </div>
    <%= image_tag 'IDS1.png', class:"img-logo"%>
  <a href="/contact" class="button">NOUS CONTACTER</a>
</div>

<div class="container card-box">
  <div class="d-flex align-items-center info-card ">
    <%= image_tag 'history-clock.png', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="notrehistoire">
        <h3>NOTRE HISTOIRE</h3>
        <p>Pour en savoir plus sur INTERNATIONALDANCESHOW</p>
      </a>
    </div>
  </div>
  <div class="d-flex align-items-center info-card ">
    <%= image_tag 'services.png', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="prestations">
        <h3>NOS PRESTATIONS</h3>
        <p>Pour en savoir plus sur les prestations qu'on propose</p>
      </a>
    </div>
  </div>
  <div class="d-flex align-items-center info-card">
    <%= image_tag 'media.png', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="gallerie">
        <h3>GALERIE</h3>
        <p>Pour avoir access a tout nos medias</p>
      </a>
    </div>
  </div>
</div>
<div class="container" style="text-align:center;"xw>
  <h1>"VOTRE DANSE À UN SEUL CLICK"</h1>
</div>
<div class="container card-box">
  <div class="d-flex align-items-center info-card ">
    <%= image_tag 'history-clock.png', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="notreequipe">
        <h3>NOTRE EQUIPE</h3>
        <p>Pour en savoir plus sur INTERNATIONALDANCESHOW</p>
      </a>
    </div>
  </div>
  <div class="d-flex align-items-center info-card ">
    <%= image_tag 'services.png', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="cadeau">
        <h3>CADEAU</h3>
        <p>Faire plaisir à vos proches d'une façon original</p>
      </a>
    </div>
  </div>
  <div class="d-flex align-items-center info-card">
    <%= image_tag 'media.png', class:'background-image' %>
    <%= image_tag 'IDS1.png', class:'logo-card' %>
    <div class="text-center m-auto tex">
      <a href="contact">
        <h3>CONTACT</h3>
        <p>Pour nous contacter</p>
      </a>
    </div>
  </div>
</div>
