<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"> <%= image_tag "group.png" %></div>
    <div class="swiper-slide"> <%= image_tag "groupStage.png" %></div>
    <div class="swiper-slide"><%= image_tag 'groupView.png' %></div>
    <div class="swiper-slide"><%= image_tag 'sako&group.png' %></div>
    <div class="swiper-slide"><%= image_tag 'groupTower.png' %></div>
    <div class="swiper-slide"><%= image_tag 'groupArm.png' %></div>
    <div class="swiper-slide"><%= image_tag 'group2.png' %></div>
    <div class="swiper-slide"><%= image_tag 'group1.png' %></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 4000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
