<div class="img-container">
  <div class="first-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
    <div class="div3 img"></div>
  </div>
  <div class="second-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
  </div>
  <div class="third-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
    <div class="div3 img"></div>
    <div class="div4 img"></div>
  </div>
  <div class="forth-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
    <div class="div3 img"></div>
    <div class="div4 img"></div>
  </div>
</div>
<div class="container-image" id="container-image">
  <%= image_tag 'group.png' %>
  <%= image_tag 'group1.png' %>
  <%= image_tag 'group2.png' %>
  <%= image_tag 'site1.JPG' %>
  <%= image_tag 'groupArm.png' %>
  <%= image_tag 'groupStage.png' %>
  <%= image_tag 'site2.JPG' %>
  <%= image_tag 'groupTower.png' %>
  <%= image_tag 'site3.JPG' %>
  <%= image_tag 'groupView.png' %>
  <%= image_tag 'site4.JPG' %>
</div>
