<div class="contactDiv">
</div>
  <div class="absoluteHome" id="logo">
    <div class="img-container">
      <%= image_tag 'IDS1.png', width:"400px" %>
    </div>
    <a href="/contact" class="button">NOUS CONTACTER</a>
  </div>
<div>

<section class="container">
  <div class="slider-wrapper">
    <div class="slider">
      <%= image_tag 'group.png', id:'slide-1' %>
      <%= image_tag 'group1.png', id:'slide-2' %>
      <%= image_tag 'group2.png', id:'slide-3' %>
      <%= image_tag 'groupArm.png', id:'slide-4' %>
      <%= image_tag 'groupStage.png', id:'slide-5' %>
      <%= image_tag 'groupTower.png', id:'slide-6' %>
      <%= image_tag 'groupView.png', id:'slide-7' %>
    </div>
    <div class="slider-nav">
      <a href="#slide-1"></a>
      <a href="#slide-2"></a>
      <a href="#slide-3"></a>
      <a href="#slide-4"></a>
      <a href="#slide-5"></a>
      <a href="#slide-6"></a>
      <a href="#slide-7"></a>
    </div>
  </div>
</section>
