<div class="img-container">
  <div class="first-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
    <div class="div3 img"></div>
  </div>
  <div class="second-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
  </div>
  <div class="third-row">
    <div class="div1 img"></div>
    <div class="div2 img"></div>
    <div class="div3 img"></div>
    <div class="div4 img"></div>
  </div>
</div>
<div class="container-image" id="container-image">
  <%= image_tag 'group.png' %>
  <%= image_tag 'group1.png' %>
  <%= image_tag 'group2.png' %>
  <%= image_tag 'groupArm.png' %>
  <%= image_tag 'groupStage.png' %>
  <%= image_tag 'groupTower.png' %>
  <%= image_tag 'groupView.png' %>
  <%= image_tag 'sako&group.png' %>
</div>
<script>
  const containerImage = document.getElementById('container-image');
    var w = window.innerWidth;
    console.log(containerImage);
    w > 560 ? containerImage.classList = "display-none" : "";
</script>
