<div class="container main-fondateurs" >
  <h1 class="h1">NOS PRESTATIONS</h1>
  <div class="container card-box-prestations">
    <div class="d-flex align-items-center info-card-prestations ">
      <%= image_tag 'animationEnfants.png', class:'background-image-prestations' %>
      <%= image_tag 'IDS1.png', class:'logo-card-prestations' %>
      <div class="text-center m-auto tex-prestations">
        <a href="animationsenfants">
          <h3>ANIMATION ENFANT</h3>
        </a>
      </div>
    </div>
    <div class="d-flex align-items-center info-card-prestations ">
      <%= image_tag 'coursDanse.png', class:'background-image-prestations' %>
      <%= image_tag 'IDS1.png', class:'logo-card-prestations' %>
      <div class="text-center m-auto tex-prestations">
        <a href="coursdanse">
          <h3>COURS DE DANSE</h3>
        </a>
      </div>
    </div>
    <div class="d-flex align-items-center info-card-prestations">
      <%= image_tag 'group.png', class:'background-image-prestations' %>
      <%= image_tag 'IDS1.png', class:'logo-card-prestations' %>
      <div class="text-center m-auto tex-prestations">
        <a href="animations">
          <h3 style="padding-bottom:25px !important;">ANIMATION DANSANTE POUR VOS EVENMENT</h3>
        </a>
      </div>
    </div>
    <div class="d-flex align-items-center info-card-prestations">
      <%= image_tag 'cadeau.png', class:'background-image-prestations' %>
      <%= image_tag 'IDS1.png', class:'logo-card-prestations' %>
      <div class="text-center m-auto tex-prestations">
        <a href="cadeau">
          <h3>CADEAU</h3>
        </a>
      </div>
    </div>
  </div>
</div>
