<div class="container" style="margin-top:150px">
  <h2 style="margin-bottom:100px">SE CONNECTER</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  style: 'display: block; margin-bottom: 5px;',
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", id:"log-in-btn-session" %>
    </div>
  <% end %>
  <!-- Free the line below to give the opportunity to create new users or to change passwords -->
  <!--  <%= render "devise/shared/links" %> -->
</div>
